@import '../../styles/scss/default/variables';
@import '../../styles/scss/default/animations';

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;

  scroll-padding-top: 20vh;

  // Height fix on mobile
  min-height: -webkit-fill-available;
  min-height: -moz-available;

  flex-basis: none;
  flex-shrink: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

  scroll-snap-align: center;
  scroll-snap-stop: always;

  -webkit-overflow-scrolling: touch;
  overflow-y: visible;

  width: 100vw;
  height: 100vh;
  //min-height: --webkit-fill-available;

  // Height fix on mobile
  min-height: -webkit-fill-available;
  min-height: -moz-available;

  flex-basis: none;
  flex-shrink: 0;

  font-family: Arial, Helvetica, sans-serif;

  .path {
    position: absolute;
    height: 70%;
    width: 60%;

    top: -7%;

    z-index: 4;

    svg {
      transform: translateX(-12%);
      stroke: rgb(39, 39, 39);
    }
  }

  .pageHeader {
    color: whitesmoke;
    width: 100%;
    padding: 5px 20px;

    font-family: Montserrat;
    letter-spacing: 0.1em;
    font-size: 0.9em;

    margin-top: 40px;

    &.absolute {
      position: absolute;
      top: 40px;
      z-index: 5;
    }

    :last-child {
      font-size: 0.8em;
    }
  }

  .pageFooter {
    color: whitesmoke;
    width: 100%;
    padding: 5px 20px;

    min-height: 88px;

    font-family: Montserrat;
    letter-spacing: 0.1em;
    font-size: 0.9em;

    &.absolute {
      position: absolute;
      top: 40px;
      z-index: 5;
    }

    :last-child {
      font-size: 0.8em;
    }

    .scrollDown {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity linear 3s;

      font-family: Montserrat;
      letter-spacing: 0.2em;
      font-size: 0.8em;
      color: whitesmoke;

      &.opacity {
        opacity: 1;
        animation: fadeIn infinite 1.5s alternate;
      }

      .text {
        width: 30%;
        text-align: center;
        margin-bottom: 4px;
      }

      .logo {
        width: fit-content;
        height: fit-content;
        margin-bottom: 4px;

        svg {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .heroWrapper {
    width: 100%;

    z-index: 1;

    flex-grow: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    .hero {
      background-image: url(../Assets/images/png/brand/ImageHero.png);

      background-size: cover;
      filter: brightness(0.6);
      width: 100%;
      height: 100%;
    }

    .title {
      position: absolute;
      color: rgb(255, 255, 255);
      width: 80%;
      text-align: center;
      font-family: Montserrat;
      font-size: 1.5em;
      letter-spacing: 0.05em;
      margin-bottom: 60px;
      max-width: 300px;
    }

    .subtitle {
      position: absolute;
      color: rgb(255, 255, 255);
      margin-top: 100px;
      letter-spacing: 0.1em;
      padding: 10px 0;
      border-bottom: whitesmoke solid 1px;
      border-top: whitesmoke solid 1px;
      font-family: Montserrat;

      font-size: 0.8em;

      text-align: center;
    }

    .buttonContainer {
      position: absolute;
      width: 60%;
      max-width: 300px;
      margin-top: 300px;

      .button {
        margin-top: 10px;

        .buttonText {
          transition: flex-grow cubic-bezier(0.87, 0, 0.19, 1) 0.5s;
          flex-grow: 0;
          letter-spacing: 0;
          padding-left: 30px;
          margin-right: 20px;
        }

        &:hover {
          .buttonText {
            flex-grow: 1;
          }
        }

        .buttonLogo {
          padding-right: 20px;

          svg {
            fill: white;
            stroke: white;
            stroke-width: 2.5;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .buttonContainer {
    width: 50%;
    max-width: 300px;
    z-index: 1;

    .button {
      .buttonText {
        transition: flex-grow cubic-bezier(0.87, 0, 0.19, 1) 0.5s;
        flex-grow: 0;
        letter-spacing: 0;
        padding-left: 30px;
        margin-right: 20px;
      }

      &:hover {
        .buttonText {
          flex-grow: 1;
        }
      }

      .buttonLogo {
        padding-right: 20px;

        svg {
          fill: white;
          stroke: white;
          stroke-width: 2.5;
          transform: rotate(180deg);
        }
      }

      .buttonLogoComplete {
        padding-right: 20px;

        svg {
          fill: black;
          stroke: black;
          stroke-width: 2.5;
          transform: rotate(270deg);
        }
      }
    }
  }

  .descWrapper {
    color: whitesmoke;
    width: 50%;
    max-width: 300px;
    padding: 5px 0px;

    z-index: 1;

    font-family: Montserrat;
    letter-spacing: 0.1em;

    margin-bottom: 5px;

    position: relative;

    .circleContainer {
      position: absolute;
      width: 100%;

      top: -70px;

      display: flex;
      justify-content: center;
    }

    .title {
      font-size: 0.9em;
      margin-bottom: 5px;
      /* text-align: center; */
      //font-variation-settings: 'wght' 700;
    }

    .description {
      font-size: 0.6em;
      margin-bottom: 5px;
      /* text-align: center; */
    }
  }
}
