.main {
  position: relative;
  background-color: #313131;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  flex-basis: none;
  flex-shrink: 0;

  .button {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
  }
}
