@font-face {
  font-family: 'AvenirNext';
  src: url('../../../components/Assets/fonts/AvenirNext/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: 'AvenirNextDemi';
  src: url('../../../components/Assets/fonts/AvenirNext/AvenirNextLTPro-DemiCn.otf');
}

@font-face {
  font-family: 'AvenirNextBold';
  src: url('../../../components/Assets/fonts/AvenirNext/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: 'AvenirNextReg';
  src: url('../../../components/Assets/fonts/AvenirNext/AvenirNextLTPro-It.otf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../../components/Assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
