@import '../../styles/scss/default/variables';

.panel {
  position: fixed;
  height: 100vh;

  // Height fix on mobile
  height: -webkit-fill-available;
  min-height: -moz-available;

  width: calc(100% - 48px);
  max-width: 800px;

  z-index: 10;

  background-color: #313131;
  border-right: rgb(77, 77, 77) 1px solid;
  border-top: rgb(77, 77, 77) 1px solid;
  border-bottom: rgb(77, 77, 77) 1px solid;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  flex-basis: none;
  flex-shrink: 0;

  transition: left cubic-bezier(0.87, 0, 0.19, 1) 0.5s;
  left: -100%;

  &.show {
    left: 0px;
  }

  .pageHeader {
    color: whitesmoke;
    width: 100%;
    padding: 5px 20px;
    padding-top: 16px;
    padding-bottom: 20px;

    font-family: Montserrat;
    letter-spacing: 0.1em;
    font-size: 0.9em;

    border-top: whitesmoke 1px solid;

    :last-child {
      font-size: 0.8em;
    }
  }

  .tweet {
    position: absolute;

    font-family: Montserrat;
    letter-spacing: 0.1em;
    font-size: 1em;
    bottom: 100px;
    padding: 5px 20px;

    color: whitesmoke;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;

    .twitter {
      margin-right: 20px;
    }

    .arrow {
      transform: rotate(180deg);
      stroke-width: 2.2;
      margin-left: 20px;
      flex-grow: 0;
      transition: flex-grow cubic-bezier(0.87, 0, 0.19, 1) 0.5s;
    }

    &:hover {
      cursor: pointer;

      .arrow {
        flex-grow: 1;
      }
    }
  }

  .navCategories {
    position: relative;

    flex-grow: 1;

    color: whitesmoke;
    width: 100%;
    padding: 5px 20px;

    margin-bottom: 10%;

    font-family: Montserrat;
    letter-spacing: 0.1em;
    font-size: 1.2em;

    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
      margin-bottom: 20px;

      &::after {
        width: 0px;
        background: whitesmoke;
        height: 1px;
        content: '';
        display: block;
        position: absolute;
        border-bottom: whitesmoke 1px solid;
        transition: width linear 0.2s;
      }

      &:hover {
        cursor: pointer;

        &::after {
          width: 50px;
          background: whitesmoke;
          height: 1px;
          content: '';
          display: block;
          position: absolute;
          border-bottom: whitesmoke 1px solid;
        }
      }

      &.active {
        font-variation-settings: 'wght' 600;

        &::after {
          width: 200px;
          max-width: 80%;
        }
      }
    }
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;

    font-family: Montserrat;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    padding: 10px;
    //border-bottom: whitesmoke 1px solid;
    //border-top: whitesmoke 1px solid;

    width: 100%;
    height: calc(100% - 76px);
    opacity: 0.1;

    background-image: url(../Assets/images/png/brand/ImageHero.png);
    filter: grayscale(1);

    background-size: cover;
  }
}
