@import '../../styles/scss/default/variables';

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  border: #6e30d7ff solid 1.5px;
  border-radius: 6px;
  width: 80%;
  min-width: 300px;

  max-width: 500px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;

  box-sizing: border-box;

  .left {
    position: relative;
    width: 25%;
    height: 500px;
    overflow: hidden;
  }
  .right {
    position: relative;
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    color: #6e30d7ff;
    padding: 20px;

    height: 500px;

    .headerBar {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 14px;

      background-color: #6e30d7ff;
    }

    .logoContainer {
      margin: 0;
      line-height: 1;
      font-size: 3.5rem;
      width: fit-content;
      position: absolute;

      top: 6px;
      left: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      a {
        color: #2c2c2c;
        text-decoration: none;
      }

      .logo {
        width: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .title {
        width: 84px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      padding: 10px;

      width: 100%;
      padding-top: 40px;

      .title {
        width: 100%;
        text-align: left;
        color: black;
        font-family: Montserrat;
        font-variation-settings: 'wght' 700;
        margin-bottom: 6px;
      }

      .subtitle {
        width: 100%;
        text-align: left;
        font-size: 12px;
        font-family: Montserrat;
        font-variation-settings: 'wght' 400;
        color: rgb(37, 37, 37);
        margin-bottom: 50px;
      }

      .input {
        margin-bottom: 24px;
        width: 80%;
        position: relative;

        .icon {
          position: absolute;
          top: 5px;
          left: 5px;
          width: 18px;
          height: 18px;

          .profile {
            stroke-width: 0;

            &:hover {
              cursor: default;
            }
          }

          svg {
            stroke: #6e30d7ff;
            stroke-width: 2;
            fill: #6e30d7ff;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .forgot {
          margin-top: 6px;
          text-align: end;
          font-size: 10px;
          margin-bottom: 4px;
          color: black;
          font-family: Montserrat;
          font-variation-settings: 'wght' 400;

          user-select: none;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      .signup {
        font-size: 10px;
        width: 100%;
        text-align: center;
        color: black;
        font-family: Montserrat;
        font-variation-settings: 'wght' 400;
        margin-top: 6px;

        user-select: none;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .disable {
        opacity: 0.25;
        pointer-events: none;
        user-select: none;
        width: 100%;

        display: flex;
        justify-content: center;

        .button {
          width: 80%;
        }
      }

      .active {
        width: 100%;

        display: flex;
        justify-content: center;

        .button {
          width: 80%;
        }
      }
    }
  }
}
